.flex_contact{
    display: flex;
    margin-top: 130px;
}
.marg_contact {
    margin-right: 100px;
}
.input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }
.contacts_widch350 {
    width: 350px;
}
.contacts_widch443 {
    width: 443px;
}
.btn_cont {
    /*display: none;*/
    width: 437px;
    padding: 20px;
    margin-bottom: 130px;
    color: black;
    font-size: 17px;
    line-height: 22px;
    background-color: #F1EADC;
    transition: background-color 0.5s;
}
.input-group {
    display: flex;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #868686;
    margin: 32px 0;
}
.input-group input {
    padding: 16px 24px;
    border: none;
    background-color: transparent;
    width: 100%;
    color: #868686;
    font-size: 17px;
    line-height: 140%;
}
.input-group:hover,
.input-group:focus-within {
    border-color: #4e4e4e;
}
.input-group input:focus,
.input-group:hover input {
    color: #4e4e4e;
}
.input-group label {
    position: absolute;
    background-color: transparent;
    padding: 16px 24px;
    line-height: 140%;
    top: 0;
    left: 0;
    bottom: 0;
    color: #868686;
    cursor: text;
}
.input-group:hover label {
    color: #4e4e4e;
}
.input-group:focus-within label,
.input-group input:not(:placeholder-shown) ~ label {
    padding: 0px 8px;
    background-color: #ffffff;
    top: -12px;
    left: 16px;
    bottom: auto;
    color: #363636;
}
/*===========сообщение, у него другой размер==========*/
  .input-group1 {
    display: flex;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #868686;
    margin: 32px 0;
  }
  .input-group1 input {
    padding: 50px 24px;
    border: none;
    background-color: transparent;
    width: 100%;
    color: #868686;
    font-size: 17px;
    line-height: 140%;
  }
  .input-group1:hover,
  .input-group1:focus-within {
    border-color: #4e4e4e;
  }
  .input-group1 input:focus,
  .input-group1:hover input {
    color: #4e4e4e;
  }
  .input-group1 label {
    position: absolute;
    background-color: transparent;
    padding: 16px 24px;
    line-height: 140%;
    top: 0;
    left: 0;
    bottom: 0;
    color: #868686;
    cursor: text;
  }
  .input-group1:hover label {
    color: #4e4e4e;
  }
  .input-group1:focus-within label,
  .input-group1 input:not(:placeholder-shown) ~ label {
    padding: 0px 8px;
    background-color: #ffffff;
    top: -12px;
    left: 16px;
    bottom: auto;
    color: #363636;
  }