.conteiner {
    display: flex;
    margin-top: 200px;
}

.head_txt {
    margin-top: 196px;
}

.block {
    display: flex;
    align-items: center;
    margin-bottom: 108px;
}

.text_block {
    width: 33.875rem;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}

.img_block {
    width: 27.625rem;
}

.lef {
    margin-right: 94px;
}

.caps {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 46px;
}

.btn_store {
    justify-content: center;
}

@media (max-width: 1060px) {
    .block {
        display: block;
    }

    .lef {
        margin: 0;
    }

    .img_block>img {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 320px;

    }

    .img_block {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }

    .conteiner {
        margin-top: 0;
    }

    .head_txt {
        margin-top: 50px;
    }

    .text_block {
        width: auto;
    }

    .section {
        width: auto;
    }
}