.conteiner_checkout {
  display: flex;
}

.conteiner_checkout>div {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}

.itm {
  padding: 15px;
}

.wrapper_checkout {
  display: grid;
  grid-template-columns: 200px 200px;
}

.background_checkout_grid {
  background-color: #F1EADC;
}

.text_decoration {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #4a4a4a;
  /* цвет в обычном состоянии */
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #000000;
  /* цвет при клике */
  background-color: #ffffff;
  background-image: url(../img/Rectangle.svg);
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #4a4a4a;
  /* цвет при наведении */
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #959595;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #959595;
  border-color: #959595;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(91, 91, 92, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #4a4a4a;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #ffffff;
}