.success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 220px;
    margin-bottom: 136px;
}

.img_success {
    width: 72px;
}

.txt_success {
    width: 360px;
    margin-left: 40px;
}

.success_flex {
    display: flex;
    align-items: center;
}

@media (max-width: 670px) {
    .success {
        display: block;
    }

    .btn {
        margin-top: 30px;
    }
}

@media (max-width: 670px) {
    .success_flex {
        display: block;
    }

    .txt_success {
        width: auto;
        margin-left: 0;
    }

}